.form {
    width: 100%;
    background-color: white;
    padding: 1.5rem;
    border-radius: 20px;
}

.container-fluid {
    padding: 5% 30%;
}

.btn-sm {
    display: inline-block;
}

@media screen and (max-width: 1024px){
    .container-fluid {
        padding: 3rem 1.5rem 4rem 1.5rem;
    }
}