{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/design/index.css"/>
    </head>
    <body>
        <section>
            <div class="row">
                <div class="col-md-6 col-sm header">
                    <h1 class="header-h1">myTodoList</h1>
                    <p class="tagline">Your personal to do list and easy to access wherever you are.</p>
                </div>
                <div class="col-md-6 col-sm">
                    <img class="image" src="../static/images/image.png">
                </div>
            </div>
        </section>
    </body>
</html>
{% endblock %}